<div class="main-explain-area jumbotron">
  <p>The {{ page.year }} Q{{ page.quarter }} SEC 13-f securities list was recently published.</p>
  <p>Buy the CSV and Excel (XLSX) files of the complete list below. Files will be available immediately after payment.</p>
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <div class="text-center">
    <a class="gumroad-button" href="https://gum.co/SEC-13f-2018Q3" target="_blank" data-gumroad-single-product="true">Buy {{page.year}}Q{{page.quarter}} list for $89</a>
  </div>
</div>